<div class="panel panel-danger">
  <div class="panel-heading">URL not found</div>
    <div class="panel-body">
        <%= link_to 'Short another URL', root_path, class: 'btn btn-primary' %>
    </div>
</div>


